body{
    font-family: "Times new roman",sans;
}

div{
    background-color: rgb(237, 241, 224);
    border: 1px solid rgb(194, 189, 183);
    width: 600px;
    margin: 30px auto;
}

h1,
p
{
    text-align: center;
}

h1{
    width: 80%;
    padding: 5px;
    margin: auto;
    border-bottom: 2px solid;
}



li{
    font-size: 21px;
}

